<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Home - Laguboti</title>
</head>
<body>

    <header>
        <center>
            <h1>Selamat Datang di Kota Laguboti</h1>
            <p><i>"Kota Indah di Tepian Danau Toba"</i></p>
            <hr width="50%">
        </center>
    </header>

    <main>
        <center>
            <nav>
                <a href="/about"><button>Tentang</button></a>
                <a href="/contacts"><button>Hubungi</button></a>
            </nav>
        </center>

     
    </main>
</body>
</html>