<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Contacts - Laguboti</title>
</head>
<body>

    <header>
        <center>
            <h1>Selamat Datang di Contacts</h1>
            <p><i>"Hubungi Kami"</i></p>
            <hr width="50%">
        </center>
    </header>

    <main>
        <center>
            <nav>
                <a href="{% url 'home' %}"><button>Home</button></a>
                <a href="/about"><button>Tentang</button></a>
            </nav>
        </center>

     
    </main>
</body>
</html>