<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Home - Laguboti</title>
</head>
<body>

    <header>
        <center>
            <h1>Selamat Datang di About</h1>
            <p><i>"Website ini dibuat sangat-sangat sederhana dengan menggunakan Framework Django"</i></p>
            <p><i>"Mengapa sangat sangat sederhana? karena saya belum belajar HTML dan CSS 👍</i></p>
            <hr width="50%">
        </center>
    </header>

    <main>
        <center>
            <nav>
                <a href="{% url 'home' %}"><button>Home</button></a>
                <a href="/contacts"><button>Hubungi</button></a>
            </nav>
        </center>

     
    </main>
</body>
</html>